// Place all the styles related to the SetupPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row .col-h{padding-top:6px; padding-bottom:6px;}
#ui-id-1{background-color:#e3e3e3; width:291px;left:245.5px;padding-left:12px;}
#ui-id-1 .ui-menu-item{list-style: none outside none;}
#ui-id-1 .ui-menu-item a{text-decoration: none;}
.form-group .ui-input-text .ui-helper-hidden-accessible {display:none;}